{% extends 'base_imports.html' %}

{% block main_content %}
<div class="container-fluid position-relative d-flex p-0 main-content">
  <!-- Spinner Start -->
  <div id="spinner"
    class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- Spinner End -->



  <!-- Sidebar Start -->
  <div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
      <a href="/" class="navbar-brand mx-4 mb-3">
        <h3 class="text-primary"><i class="fa-solid fa-dumbbell"></i> ARNOLD GYM</h3>
      </a>
      <div class="d-flex align-items-center ms-4 mb-4">
        <div class="position-relative">
          <img class="rounded-circle" src="{{ url_for('static', filename='img/user_profile/' + user.perfil.imagen ) }}"
            alt="user" style="width: 40px; height: 40px;">
          <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
          </div>
        </div>
        <div class="ms-3">
          <h6 class="mb-0">{{ user.persona.nombre }} {{ user.persona.apellido }} </h6>
          <span>{{ user.persona.rol }}</span>
        </div>
      </div>
      <div class="navbar-nav w-100">
        <a href="/" class="nav-item nav-link {% block dash_nav_class %}{% endblock %}"><i
            class="fa fa-tachometer-alt me-2"></i>Inicio</a>
        {% if user.persona.rol == 'ADMINISTRADOR' %}
          <a href="/users/admin/list" class="nav-item nav-link {% block admin_nav_class %}{% endblock %}"><i
            class="fa fa-lock me-2"></i>Administradores</a>
          <a href="/users/client/list" class="nav-item nav-link {% block client_nav_class %}{% endblock %}"><i
              class="fa fa-users me-2"></i>Clientes</a>
        {% endif %}
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle {% block rutinaDropDown %}{% endblock %}"
            data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Rutinas de<br>
            <center>Entrenamiento</center>
          </a>
          <div class="dropdown-menu bg-transparent border-0">
            <a href="/rutinas/list" class="dropdown-item {% block rutina %}{% endblock %}">Rutinas</a>
            <a href="/ejercicios/list" class="dropdown-item {% block ejercicio %}{% endblock %}">Ejercicios</a>
          </div>
        </div>
    </nav>
  </div>
  <!-- Sidebar End -->


  <!-- Content Start -->
  <div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
      <a href="/" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
      </a>
      <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
      </a>

      <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            <img class="rounded-circle me-lg-2"
              src="{{ url_for('static', filename='img/user_profile/' + user.perfil.imagen ) }}" alt=""
              style="width: 40px; height: 40px;">
            <span class="d-none d-lg-inline-flex">{{ user.persona.nombre }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
            <a href="/my_profile" class="dropdown-item"><i class="fa-regular fa-user"></i> Mi perfil</a>
            <a href="/logout" class="dropdown-item"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->


    <!-- Blank Start -->
    <div class="wrapper">
      <div class="content-1">
        <div class="container-fluid pt-4 px-4">
          {% block content%}
          {% endblock%}
        </div>
      </div>
    </div>
    <!-- Blank End -->

    <!-- Footer Start -->
    <footer>
      <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary rounded-top p-4">
          <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
              Universidad Nacional de Loja<br>
              Facultad de la Energía, las Industrias y los Recursos Naturales No Renovables<br>
              Ingeniería en Ciencias de la Computación<br>
              3ro "A"

            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
              Creado por: <br><strong><span>María Elizabeth Chuico Medina<br>
                David Alexander Paccha Gallegos<br>
                Jhonathan Alexander Ludeña Cevallos<br>
                Anthony Damián Guitiérrez Tapia<br>
                Gabriel Ricardo Cevallos Medina</span></strong>.
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Footer End -->


  </div>
  <!-- Content End -->


  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>
</div>

<script src="{{ url_for('static',filename='js/jquery-3.6.0.min.js' ) }}"></script>
<script>
  $(document).ready(function () {
    var spinner = function () {
      setTimeout(function () {
        if ($('#spinner').length > 0) {
          $('#spinner').removeClass('show');
        }
      }, 40);
    };
    spinner();

    $('.sidebar-toggler').click(function () {
      $('.sidebar, .content').toggleClass("open");
      return false;
    });
  });
</script>
{% endblock %}