{% extends 'blank.html' %}
{% block title %}Inicio{% endblock %}
{% block dash_nav_class %} active {% endblock %}

{% block content %}
<div class="pagetitle">
    <h1>Información del Gimnasio</h1>
</div>

<section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="container-fluid bg-secondary rounded h-100 p-4">
            <h2 class="mb-4 text-center">ARNOLD GYM</h2>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="https://lh3.googleusercontent.com/p/AF1QipMOxs6LCI2h3FzHyQGdiVWOS-Z90DbZ4DuTQcjF=s1360-w1360-h1020" class="img-fluid rounded" style="max-width: 700px; margin-right: 25px; height: auto;" alt="Imagen del gimnasio">
                    <img src="https://lh3.googleusercontent.com/p/AF1QipO6Cxop8AMBzOUKktdTGlLV3KcyfgELgfXVhByE=s1360-w1360-h1020" class="img-fluid rounded" style="max-width: 700px; height: auto;" alt="Imagen del gimnasio">
                </div>

                <div class="col-md-12 mt-4">
                    <p style="text-align: justify;">Arnold Gym somos una empresa con grandes aspiraciones de fomentar la salud física y mental, 
                        otorgando beneficios a su vida diaria; contamos con personal calificado, con años de experiencia en el deporte, 
                        brindamos orientación y atención en la alimentación de nuestros clientes.
                    <br>Nos comprometemos con mejorar la calidad de vida de las personas a través de la disciplina y ejercicio.
                    <br>Contamos con equipo de alta calidad, programas aeróbicos (Bailoterapia), con cursos variados para todos los niveles, nuestro personal está altamente calificado, además tenemos horarios flexibles.
                    <br>Nos caracterizamos por brindar un servicio personalizado que podrás comprobar desde el primer día en el gimnasio.<br>
                    <br>🏋️ Entrenamiento personal.<br>
                    <br>❣️ Zona de cardio, Aeróbicos y Bailoterapia.<br>
                    <br>🥑 Nutrición.<br>
                    <br>🧠 Psicología deportiva.<br>
                    <br>💪 Queremos los resultados que tú quieres.<br>
                    <br>¡No esperes más y visita nuestras instalaciones!</p>
                </div>
            </div>
            <h3 class="mb-4 text-center">¡CONTÁCTANOS!</h3>
                <div class="col-md-12 text-center">
                    <a href="https://www.instagram.com/gimnasio_arnold"> 
                        <img src="https://imgs.search.brave.com/ROHr6e0iyH6gd7JLzKMu0Inmabq20L30hGawDmf4_NE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4t/aWNvbnMtcG5nLmZs/YXRpY29uLmNvbS81/MTIvMTc0LzE3NDg1/NS5wbmc" style="width: 100px;" alt="Instagram">
                    </a>
                    <a href="https://www.facebook.com/gimnasioarnoldgym/?locale=es_LA">
                        <img src="https://imgs.search.brave.com/c41rZMwickmrnu_2gaorm7abV2U7fGESRsGRg1FzQCc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvcHJl/dmlld3MvMDE4Lzkz/MC80NzYvbm9uXzJ4/L2ZhY2Vib29rLWxv/Z28tZmFjZWJvb2st/aWNvbi10cmFuc3Bh/cmVudC1mcmVlLXBu/Zy5wbmc" style="width: 160px;" alt="Facebook">
                    </a>
                    <a href="https://web.whatsapp.com/send/?phone=%2B593998581699&context=ARATUv5Z7Xr1LtZfpnWedpP2ktMdrD8jLGLbhQT4fTigrfB1OHs34pG3BQIZbVqsSKQrYRns_wCm6KKvXt-pfYyTcZYpbItq6PHuioBb6S_fGmyrS3s6HAFrvhF4JJ-eDfmQZH-2SVXWigxuaWhzacEPfA&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwY2xjawIChotleHRuA2FlbQIxMAABHS7kfpYUi913JhBTnyZbyXvMMWDJ0c5SF-4j0SlpjhxAPQOaHt50vMra7A_aem_CWNvTRAFi8P8xJRwWU4z_g">
                        <img src="https://imgs.search.brave.com/Iu45jx--QtoXb3xq4qlJ1BhrViuwvg00rWxmrVP1hjo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4t/aWNvbnMtcG5nLmZs/YXRpY29uLmNvbS81/MTIvMTc0LzE3NDg3/OS5wbmc" style="width: 100px; margin-right: 30px;" alt="WhatsApp">
                    </a>
                    <a href="mailto:arnoldgymloja@gmail.com">
                        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968534.png" style="width: 120px;" alt="Correo">
                    </a>
                </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}
