{% extends 'blank.html' %}
{% block title %}Estadisticas{% endblock %}
{% block estadistica_nav_class %}active{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    {% for message in messages %}
      {% if message[0] == 'success' %}
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <h4 class="alert alert-heading"><strong>¡Éxito!</strong></h4>
            <p>{{ message[1]}}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
          </div>
        {% else %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h4 class="alert-heading"><strong>¡Error!</strong></h4>
            <p>{{ message[1]}}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
          </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
<div class ="pagetitle">
    <h1>Estadísticas</h1>
</div>
<div class="col-12">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Lista Estadistica</h6>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col"><center>Medida Espalda</th>
                    <th scope="col"><center>Medida Pierna</th>
                    <th scope="col"><center>Medida Brazo</th>
                    <th scope="col"><center>Medida Cintura</th>
                    <th scope="col"><center>Medida Pecho</th>
                    <th scope="col"><center>Peso</th>
                    <th scope="col"><center>Altura</th>
                    <th scope="col"><center>Accion</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for estadistica in estadisticas %}
                <tr>
                    <td>{{ estadistica.propietario }}</td>
                    <td><center>{{ estadistica.medidaEspalda }}</td>
                    <td><center>{{ estadistica.medidaPierna}}</td>
                    <td><center>{{ estadistica.medidaBrazo }}</td>
                    <td><center>{{ estadistica.medidaCintura }}</td>
                    <td><center>{{ estadistica.medidaPecho }}</td>
                    <td><center>{{ estadistica.peso }}</td>
                    <td><center>{{ estadistica.altura }}</td>
                    <td><center>
                        <a href="/estadistica/edit/{{ estadistica.id }}" class="btn btn-warning">Editar</a>
                        <a href="/estadistica/pdf/{{ estadistica.id }}" class="btn btn-primary">Descargar PDF</a>
                    </td>
                </tr>
                <tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}