/ProyectoFinal/target/
/ProyectoFinal/media/


/Proyecto_Final_Front/virtual
/Proyecto_Final_Front/routes/__pycache__/
/Proyecto_Final_Front/__pycache__/
/Proyecto_Final_Front/routes/utils/__pychache__/
