{% extends 'blank.html' %}
{% block title %}User: {% endblock %}

{% block usr_nav_class %}active{% endblock %}

{% block content %}
<div class="container-fluid pt-4 px-4">

  <!-- <div class="row g-4">

    <div class="col-sm-12 col-xl-6">
      <div class="bg-secondary rounded h-100 p-4">

        

      </div>

    </div> -->




  <div class="bg-secondary rounded h-100 p-4">

    <div class="testimonial-item text-center">

      <img class="img-fluid rounded-circle mx-auto mb-4"
        src="{{ perfil.imagen }}"
        style="width: 100px; height: 100px;">

      <h5 class="mb-1">{{ perfil.nickName }}</h5>
      <p>{{ persona.nombre }} {{ persona.apellido }}</p>
      <p class="mb-0">Se unió el {{ perfil.fechaCreacion }}</p>

    </div>
    <br>
    <br>

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-informacion-personal-tab" data-bs-toggle="tab" data-bs-target="#nav-informacion-personal" type="button"
          role="tab" aria-controls="nav-informacion-personal" aria-selected="true">Detalles</button>

          <button class="nav-link" id="nav-estadisticas-tab" data-bs-toggle="tab" data-bs-target="#nav-estadisticas" type="button"
          role="tab" aria-controls="nav-estadisticas" aria-selected="false">Estadísticas</button>

        <button class="nav-link" id="nav-editar-perfil-tab" data-bs-toggle="tab" data-bs-target="#nav-editar-perfil" type="button"
          role="tab" aria-controls="nav-editar-perfil" aria-selected="false">Editar perfil</button>

        {% if user.persona.rol == 'ADMINISTRADOR' %}
        <button class="nav-link" id="nav-editar-datos-personales-tab" data-bs-toggle="tab" data-bs-target="#nav-editar-datos-personales" type="button"
          role="tab" aria-controls="nav-editar-datos-personales" aria-selected="false">Editar datos Personales</button>
        {% endif %}

          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
          role="tab" aria-controls="nav-contact" aria-selected="false">Cambiar Contraseña</button>

      </div>
    </nav>

    
    <div class="tab-content pt-3" id="nav-tabContent">
      <div class="tab-pane fade active show" id="nav-informacion-personal" role="tabpanel" aria-labelledby="nav-informacion-personal-tab">
        <h6>Información Personal</h6>
        <dl class="row mb-0">
          <dt class="col-sm-4">Correo Electrónico:</dt>
          <dd class="col-sm-8">{{ cuenta.correoElectronico }}</dd>

          <dt class="col-sm-4">Celular:</dt>
          <dd class="col-sm-8">{{ persona.celular }}</dd>

          <dt class="col-sm-4">Dirección:</dt>
          <dd class="col-sm-8">{{ persona.direccion }}</dd>

          <dt class="col-sm-4 text-truncate">Identificación: </dt>
          <dd class="col-sm-8">{{ persona.identificacion }}</dd>

          <dt class="col-sm-4">Fecha de Nacimiento:</dt>
          <dd class="col-sm-8">{{ persona.fechaNacimiento }}</dd>

          <dt class="col-sm-4">Genero:</dt>
          <dd class="col-sm-8">{{ persona.genero }}</dd>

          <dt class="col-sm-4">Rol en el Sistema:</dt>
          <dd class="col-sm-8">{{ persona.rol }}</dd>          
          
          <dt class="col-sm-4">Objetivo:</dt>
          <dd class="col-sm-8">{{ perfil.objetivoCliente }}</dd>     
        </dl>
      </div>
      

      <div class="tab-pane fade" id="nav-estadisticas" role="tabpanel" aria-labelledby="nav-estadisticas-tab">
        
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6>Estadísticas</h6>
          <a href="/admin/estadistica/edit/{{ estadistica.id }}">Editar</a>
        </div>

        <dl class="row mb-0">
          <dt class="col-sm-4">Medidas de la Espalda:</dt>
          <dd class="col-sm-8">{{ estadistica.medidaEspalda }} cm</dd>

          <dt class="col-sm-4">Medidas de pierna:</dt>
          <dd class="col-sm-8">{{ estadistica.medidaPierna }} cm</dd>

          <dt class="col-sm-4">Medidas de los Brazos:</dt>
          <dd class="col-sm-8">{{ estadistica.medidaBrazo }} cm</dd>

          <dt class="col-sm-4 text-truncate">Medidas de la cintura: </dt>
          <dd class="col-sm-8">{{ estadistica.medidaCintura }} cm</dd>

          <dt class="col-sm-4">Peso:</dt>
          <dd class="col-sm-8">{{ estadistica.peso }} kg</dd>

          <dt class="col-sm-4">Estatura:</dt>
          <dd class="col-sm-8">{{ estadistica.altura }} m</dd>

<!--           <dt class="col-sm-4">Índice de Masa corporal:</dt>
          <dd class="col-sm-8">{{ estadistica.imc }}</dd>      -->     
           
        </dl>
      </div>

      <div class="tab-pane fade" id="nav-editar-perfil" role="tabpanel" aria-labelledby="nav-editar-perfil-tab">
        <h6>Editar información del Perfil</h6>
        <form action="/user/update/send" method="post" enctype="multipart/form-data">

          <input hidden type="number" name="id" id="id" value="{{ perfil.id }}">

          <div class="mb-3">
            <label for="image" class="form-label">Avatar:</label>
            <input class="form-control bg-dark" type="file" name="image" id="image" accept="image/*">
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="OsoMamado" name="nickName" value="{{ perfil.nickName }}">
            <label for="floatingInput">NickName</label>
          </div>

          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="objetivoCliente" style="height: 150px;">{{ perfil.objetivoCliente }}</textarea>
            <label for="floatingTextarea">Objetivo</label>
          </div><br>

          <div class="col-12">
            <button class="btn btn-success" type="submit">Guardar Cambios</button>
          </div>

        </form>
      </div>

      {% if user.persona.rol == 'ADMINISTRADOR' %}
      <div class="tab-pane fade" id="nav-editar-datos-personales" role="tabpanel" aria-labelledby="nav-editar-datos-personales-tab">
        
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6>Editar Datos Personales</h6>
        </div>
        
        <form action="/user/update/persona" method="post">

          <input hidden type="number" name="id" id="id" value="{{ persona.id }}">

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="nombre" value="{{ persona.nombre }}">
            <label for="floatingInput">Nombre</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="apellido" value="{{ persona.apellido }}">
            <label for="floatingInput">Apellido</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="celular" value="{{ persona.celular }}">
            <label for="floatingInput">Celular</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="direccion" value="{{ persona.direccion }}">
            <label for="floatingInput">Dirección</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="identificacion" value="{{ persona.identificacion }}">
            <label for="floatingInput">Identificación</label>
          </div>

          <div class="form-floating mb-3">
            <input type="date" class="form-control" id="floatingInput" name="fechaNacimiento" value="{{ persona.fechaNacimiento }}">
            <label for="floatingInput">Fecha de Nacimiento</label>
          </div>

          <div class="col-sm-6">
            <label for="tipoIdentificacion" class="form-label">Tipo Identificación: </label>
            <select class="form-select mb-3" id="tipoIdentificacion" name="tipoIdentificacion" required>
              {% for tipo in enums.tipos %}
              <option value="{{ tipo }}">{{ tipo }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-sm-6">
            <label for="genero" class="form-label">Genero: </label>
            <select class="form-select mb-3" name="genero" id="genero" required>
              {% for genero in enums.generos %}
              <option value="{{ genero }}">{{ genero }}</option>
              {% endfor %}
            </select>
          </div>
    
          <div class="col-sm-6">
            <label for="rol" class="form-label">Rol: </label>
            <select class="form-select mb-3" id="rol" name="rol" required>
              {% for rol in enums.roles %}
              <option value="{{ rol }}">{{ rol }}</option>
              {% endfor %}
            </select>
          </div>


          <div class="col-12">
            <button class="btn btn-success" type="submit">Guardar Cambios</button>
          </div>

        </form>

      </div>
      {% endif %}


      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <h6>Cambiar Contraseña</h6>
        <form id="form-contrasena" action="/change_password" method="post">

          <input type="number" id="id" name="id" value="{{ cuenta.id }}" hidden>
          <input type="text" id="correoElectronico" name="correoElectronico" value="{{ cuenta.correoElectronico }}" hidden>
          <input type="number" id="personaId" name="personaId" value="{{ persona.id }}" hidden>
          <input type="number" id="perfilId" name="perfilId" value="{{ perfil.id }}" hidden>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Contraseña anterior: </span>
            <input type="password" class="form-control" id="contrasena-anterior" name="contrasena" aria-describedby="basic-addon3"><i class="fas fa-eye" id="tgp1" onclick="togglePassword('tpg1','contrasena-anterior')" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Nueva Contraseña:</span>
            <input type="password" class="form-control" id="nueva-contrasena-1" aria-describedby="basic-addon3"><i class="fas fa-eye" id="tgp2" onclick="togglePassword('tpg2','nueva-contrasena-1')" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Repita la nueva Contraseña:</span>           <!-- tgp = togglePassword in icons id -->
            <input type="password" class="form-control" id="nueva-contrasena-2" aria-describedby="basic-addon3" name="newContrasena"><i class="fas fa-eye" id="tgp3" onclick="togglePassword('tpg3','nueva-contrasena-2')" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
          </div>

          <div class="col-12">
            <button class="btn btn-success" id="btn-contrasena" onclick="validarContrasena()">Guardar Cambios</button>
          </div>

        </form>
        
      </div>
    </div>

  </div>



</div>
</div>

</div>
<script>
  // VALIDATE PASSWORD SCRIPT
  function validarContrasena(event) {
    var contrasena1 = document.getElementById('nueva-contrasena-1').value;
    var contrasena2 = document.getElementById('nueva-contrasena-2').value;

    if (contrasena1 != contrasena2) {
      event.preventDefault();
      alert('Las contraseñas no coinciden');
      return false;
    }
    return true;
  }

  document.getElementById('form-contrasena').addEventListener('submit',validarContrasena)

  // TOGGLE PASSWORD SCRIPT
  /* const togglePassword = document.getElementById('togglePassword1');
  const passwordField = document.getElementById('floatingPassword');

  togglePassword.addEventListener('click', function () {

      const type = passwordField.type === 'password' ? 'text' : 'password';
      passwordField.type = type;

      this.classList.toggle('fa-eye-slash');
  }); */

  function togglePassword(eyeButtonId, passwordFieldId) {
    const eyeButton = document.getElementById(eyeButtonId);
    const passwordField = document.getElementById(passwordFieldId);

    const type = passwordField.type === 'password' ? 'text' : 'password';
    passwordField.type = type;

    eyeButton.classList.toggle('fa-eye-slash')
  }
</script>
{% endblock %}