{% extends 'blank.html' %}
{% block title %}User: {{ perfil.nickName }}{% endblock %}

{% block custom_styles_js %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block usr_nav_class %}active{% endblock %}

{% block content %}
<div class="container-fluid pt-4 px-4">

  {% with messages = get_flashed_messages(with_categories=True)  %}
    {% for message in messages %}
      <div class="alert alert-{{ message[0] }} alert-dismissible fade show" role="alert">
        {{ message[1] }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endwith %}


  <div class="bg-secondary rounded h-100 p-4">

    <div class="testimonial-item text-center">

      <img class="img-fluid rounded-circle mx-auto mb-4"
        src="{{ url_for('static',filename='img/user_profile/' + perfil.imagen ) }}"
        style="width: 100px; height: 100px;">

      <h5 class="mb-1">{{ perfil.nickName }}</h5>
      <p>{{ persona.nombre }} {{ persona.apellido }}</p>
      <p class="mb-0">Se unió el {{ perfil.fechaCreacion }}</p>

    </div>
    <br>
    <br>

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-informacion-personal-tab" data-bs-toggle="tab" data-bs-target="#nav-informacion-personal" type="button"
          role="tab" aria-controls="nav-informacion-personal" aria-selected="true">Detalles</button>

          <button class="nav-link" id="nav-estadisticas-tab" data-bs-toggle="tab" data-bs-target="#nav-estadisticas" type="button"
          role="tab" aria-controls="nav-estadisticas" aria-selected="false">Estadísticas</button>

        <button class="nav-link" id="nav-editar-perfil-tab" data-bs-toggle="tab" data-bs-target="#nav-editar-perfil" type="button"
          role="tab" aria-controls="nav-editar-perfil" aria-selected="false">Editar perfil</button>
          

        {% if user.persona.rol == 'ADMINISTRADOR' %}
        <button class="nav-link" id="nav-editar-datos-personales-tab" data-bs-toggle="tab" data-bs-target="#nav-editar-datos-personales" type="button"
          role="tab" aria-controls="nav-editar-datos-personales" aria-selected="false">Editar datos Personales</button>
        {% endif %}

          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
          role="tab" aria-controls="nav-contact" aria-selected="false">Cambiar Contraseña</button>

      </div>
    </nav>

    
    <div class="tab-content pt-3" id="nav-tabContent">
      <div class="tab-pane fade active show" id="nav-informacion-personal" role="tabpanel" aria-labelledby="nav-informacion-personal-tab">
        <h6>Información Personal</h6>
        <dl class="row mb-0">
          <dt class="col-sm-4">Correo Electrónico:</dt>
          <dd class="col-sm-8">{{ cuenta.correoElectronico }}</dd>

          <dt class="col-sm-4">Celular:</dt>
          <dd class="col-sm-8">{{ persona.celular }}</dd>

          <dt class="col-sm-4">Dirección:</dt>
          <dd class="col-sm-8">{{ persona.direccion }}</dd>

          <dt class="col-sm-4 text-truncate">Identificación: </dt>
          <dd class="col-sm-8">{{ persona.identificacion }}</dd>

          <dt class="col-sm-4">Fecha de Nacimiento:</dt>
          <dd class="col-sm-8">{{ persona.fechaNacimiento }}</dd>

          <dt class="col-sm-4">Genero:</dt>
          <dd class="col-sm-8">{{ persona.genero }}</dd>

          <dt class="col-sm-4">Rol en el Sistema:</dt>
          <dd class="col-sm-8">{{ persona.rol }}</dd>          
          
          <dt class="col-sm-4">Objetivo:</dt>
          <dd class="col-sm-8">{{ perfil.objetivoCliente }}</dd>     
        </dl>
      </div>
      

      <div class="tab-pane fade" id="nav-estadisticas" role="tabpanel" aria-labelledby="nav-estadisticas-tab">
        
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6>Estadísticas</h6>
          <a href="/estadistica/edit/{{ estadistica.id }}">Editar</a>
          <a href="/estadistica/pdf/{{ estadistica.id }}" class="btn btn-primary">Descargar PDF</a>
        </div>

        <dl class="row mb-0">
          <dt class="col-sm-4">Medidas de la Espalda:</dt>
          <dd class="col-sm-8">{{ estadistica.medidaEspalda }} cm</dd>

          <dt class="col-sm-4">Medidas de pierna:</dt>
          <dd class="col-sm-8">{{ estadistica.medidaPierna }} cm</dd>

          <dt class="col-sm-4">Medidas de los Brazos:</dt>
          <dd class="col-sm-8">{{ estadistica.medidaBrazo }} cm</dd>

          <dt class="col-sm-4 text-truncate">Medidas de la cintura: </dt>
          <dd class="col-sm-8">{{ estadistica.medidaCintura }} cm</dd>
          
          <dt class = "col-sm-4">Medidas del Pecho:</dt>
          <dd class="col-sm-8">{{ estadistica.medidaPecho }} cm</dd>

          <dt class="col-sm-4">Peso:</dt>
          <dd class="col-sm-8">{{ estadistica.peso }} kg</dd>

          <dt class="col-sm-4">Estatura:</dt>
          <dd class="col-sm-8">{{ estadistica.altura }} m</dd>
           
        </dl>
      </div>

      <div class="tab-pane fade" id="nav-editar-perfil" role="tabpanel" aria-labelledby="nav-editar-perfil-tab">
        <h6>Editar información del Perfil</h6>
        <form action="/user/update/send" method="post" enctype="multipart/form-data" id="perfil-update-form">

          <input hidden type="number" name="id" id="id-perfil" value="{{ perfil.id }}">
          <input hidden type="text" name="current-image" id="current-image" value="{{ perfil.imagen }}">
          <input type="checkbox" name="my-profile" id="my-profile" {% if my_profile == True %} checked {% endif %} hidden>  
          

          <div class="mb-3">
            <label for="image" class="form-label">Avatar:</label>
            <input class="form-control bg-dark" type="file" name="image" id="image" accept="image/*">
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nickName" placeholder="OsoMamado" name="nickName" value="{{ perfil.nickName }}" required>
            <label for="nickName">NickName</label>
          </div>

          <div class="form-floating">
            <textarea required class="form-control" placeholder="Leave a comment here" id="objetivoCliente" name="objetivoCliente" style="height: 150px;">{{ perfil.objetivoCliente }}</textarea>
            <label for="objetivoCliente">Objetivo</label>
          </div><br>

          <div class="col-12">
            <p class="btn btn-success" onclick="validateForm('perfil-update-form')">Guardar Cambios</p>
          </div>

        </form>
      </div>

      {% if user.persona.rol == 'ADMINISTRADOR' %}
      <div class="tab-pane fade" id="nav-editar-datos-personales" role="tabpanel" aria-labelledby="nav-editar-datos-personales-tab">
        
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6>Editar Datos Personales</h6>
        </div>
        
        <form action="/user/update/persona" method="post" id="persona-update-form">

          <input hidden type="number" name="id" id="id-persona" value="{{ persona.id }}">

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nombre-persona" name="nombre" value="{{ persona.nombre }}" required>
            <label for="nombre-persona">Nombre</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="apellido-persona" name="apellido" value="{{ persona.apellido }}" required>
            <label for="apellido-persona">Apellido</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="celular-persona" name="celular" value="{{ persona.celular }}" required>
            <label for="celular-persona">Celular</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="direccion-persona" name="direccion" value="{{ persona.direccion }}" required>
            <label for="direccion-persona">Dirección</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="identificacion-persona" name="identificacion" value="{{ persona.identificacion }}" required>
            <label for="identificacion-persona">Identificación</label>
          </div>

          <div class="form-floating mb-3">
            <input type="date" class="form-control" id="fechaNacimiento-persona" name="fechaNacimiento" value="{{ persona.fechaNacimiento }}" style="background-color: black;" required>
            <label for="fechaNacimiento-persona">Fecha de Nacimiento</label>
          </div>

          <div class="col-sm-6">
            <label for="tipoIdentificacion" class="form-label">Tipo Identificación: </label>
            <select class="form-select mb-3" id="tipoIdentificacion" name="tipoIdentificacion" required>
              {% for tipo in enums.tipos %}
              <option value="{{ tipo }}" {% if tipo == persona.tipoIdentificacion %} selected {% endif %}>{{ tipo }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-sm-6">
            <label for="genero" class="form-label">Genero: </label>
            <select class="form-select mb-3" name="genero" id="genero" required>
              {% for genero in enums.generos %}
              <option value="{{ genero }}" {% if genero == persona.genero %} selected {% endif %}>{{ genero }}</option>
              {% endfor %}
            </select>
          </div>
    
          <div class="col-sm-6">
            <label for="rol" class="form-label">Rol: </label>
            <select class="form-select mb-3" id="rol" name="rol" required>
              {% for rol in enums.roles %}
              <option value="{{ rol }}" {% if rol == persona.rol %} selected {% endif %}>{{ rol }}</option>
              {% endfor %}
            </select>
          </div>


          <div class="col-12">
            <p onclick="validateForm('persona-update-form')" class="btn btn-success" >Guardar Cambios</p>
          </div>

        </form>

      </div>
      {% endif %}


      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <h6>Cambiar Contraseña</h6>
        <form id="form-contrasena" action="/change_password" method="post">

          <input type="number" id="id-cuenta" name="id" value="{{ cuenta.id }}" hidden>
          <input type="text" id="correoElectronico" name="correoElectronico" value="{{ cuenta.correoElectronico }}" hidden>
          <input type="number" id="personaId" name="personaId" value="{{ persona.id }}" hidden>
          <input type="number" id="perfilId" name="perfilId" value="{{ perfil.id }}" hidden>

          <div class="input-group mb-3">
            <span class="input-group-text" id="contrasena-anterior-addon">Contraseña anterior: </span>
            <input type="password" class="form-control" required id="contrasena-anterior" name="contrasena" aria-describedby="basic-addon3"><i class="fas fa-eye" id="tgp1" onclick="togglePassword('tgp1','contrasena-anterior')" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer; z-index: 1000;"></i>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="nueva-contrasena-1-addon">Nueva Contraseña:</span>
            <input type="password" class="form-control" required id="nueva-contrasena-1" aria-describedby="basic-addon3"><i class="fas fa-eye" id="tgp2" onclick="togglePassword('tgp2','nueva-contrasena-1')" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer; z-index: 1000;"></i>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="nueva-contrasena-2-addon">Repita la nueva Contraseña:</span>           <!-- tgp = togglePassword in icons id -->
            <input type="password" class="form-control" required id="nueva-contrasena-2" aria-describedby="basic-addon3" name="newContrasena"><i class="fas fa-eye" id="tgp3" onclick="togglePassword('tgp3','nueva-contrasena-2')" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer; z-index: 1000;"></i>
          </div>

          <div class="col-12">
            <p class="btn btn-success" id="btn-contrasena" onclick="validateForm('form-contrasena')">Guardar Cambios</p>
          </div>

        </form>
        
      </div>
    </div>

  </div>



</div>
</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
  // VALIDATE PASSWORD SCRIPT
  function validarContrasena(event) {
    var contrasena1 = document.getElementById('nueva-contrasena-1').value;
    var contrasena2 = document.getElementById('nueva-contrasena-2').value;

    if (contrasena1 != contrasena2) {
      event.preventDefault();
      alert('Las contraseñas no coinciden');
      return false;
    }
    return true;
  }

  document.getElementById('form-contrasena').addEventListener('submit',validarContrasena)

  // TOGGLE PASSWORD SCRIPT
  function togglePassword(eyeButtonId, passwordFieldId) {
    const eyeButton = document.getElementById(eyeButtonId);
    const passwordField = document.getElementById(passwordFieldId);
  
    const type = passwordField.type === 'password' ? 'text' : 'password';
    passwordField.type = type;

    eyeButton.classList.toggle('fa-eye-slash')
  }

  // VALIDATION SCRIPT
  function validateForm(formId) {
    const form = document.getElementById(formId);
    form.classList.add('was-validated');
    if (form.checkValidity()) {
        form.submit()
    }
  }

  // DATE SCRIPT
  document.addEventListener('DOMContentLoaded', function() {
      flatpickr("#fechaNacimiento-persona", {
          dateFormat: "Y-m-d",
      });
  });
</script>
{% endblock %}