{% extends 'blank.html' %}
{% block content %}
<div class="col-12">
  <div class="bg-secondary rounded h-100 p-4">
      <h6 class="mb-4">Registro</h6>
      <form class="row g-3 needs-validation" method="POST" action="/persona/save/send" novalidate>
          <div class="col-sm-6">
              <label for="validationCustom02" class="form-label">Nombre: </label>
              <input type="text" class="form-control" name="nombre" required>
          </div>

          <div class="col-sm-6">
              <label for="validationCustom02" class="form-label">Apellido: </label>
              <input type="text" step="1" min="1" class="form-control" name="apellido">
          </div>

          <div class="col-sm-6">
            <label for="lbltipo" class="form-label">Tipo Identificación: </label>
            <select class="form-select mb-3" name="tipoIdentificacion" required>
                {% for tipo in e.tipos %}
                    <option value="{{ tipo }}">{{ tipo }}</option>
                {% endfor %}
            </select>
          </div>
          
          <div class="col-sm-6">
            <label for="validationCustom02" class="form-label">Identificación: </label>
            <input type="text" step="1" min="1" class="form-control" name="identificacion">
          </div>

          <div class="col-sm-6">
            <label for="validationCustom02" class="form-label">Celular: </label>
            <input type="text" step="1" min="1" class="form-control" name="celular">
          </div>

          <div class="col-sm-6">
              <label for="validationCustom02" class="form-label">Dirección: </label>
              <input type="text" step="1" min="1" class="form-control" name="direccion">
          </div>

          <div class="col-sm-6">
              <label for="validationCustom02" class="form-label">Fecha de Nacimiento: </label>
              <input type="text" step="1" min="1" class="form-control" name="fechaNacimiento">
          </div>

          <div class="col-sm-6">
            <label for="lbltipo" class="form-label">Genero: </label>
            <select class="form-select mb-3" name="genero" required>
                {% for genero in e.generos %}
                    <option value="{{ genero }}">{{ genero }}</option>
                {% endfor %}
            </select>
          </div>

          <div class="col-sm-6">
            <label for="lbltipo" class="form-label">Rol: </label>
            <select class="form-select mb-3" name="rol" required>
                {% for rol in e.roles %}
                    <option value="{{ rol }}">{{ rol }}</option>
                {% endfor %}
            </select>
          </div>

          <div class="col-sm-6">
              <div>
                  <button type="submit" class="btn btn-success rounded-pill">Guardar</button>
              </div>
              
              <div class="col-sm-6">
                  <a href="/admin/ejercicios/list" class="btn btn-primary rounded-pill">Cancelar</a>
              </div>
          </div>
      </form>
  </div>
</div>
{% endblock %}