{% extends 'blank.html' %}
{% block content %}

<a href="/suscripcion/save">
  <button type="button" class="btn btn-warning m-2"><i class="fa fa-plus"></i></button>
</a>
<table class="table table-dark">
  <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha de Inicio</th>
          <th scope="col">Fecha de Finalización</th>
          <th scope="col">Tipo de Suscripción</th>
          <th scope="col">Acciones</th>
      </tr>
  </thead>
  <tbody>
     {% for persona in personas %}
      <tr>
        <td>{{ suscripcion.numero }}</td>
        <td>{{ suscripcion.fechaInicio }}</td>
        <td>{{ suscripcion.fechaFinalizacion }}</td>
        <td>{{ suscripcion.tipo }}</td>
        <td>
          <a href="/persona/update/{{ persona.id }}">
            <button type="button" class="btn btn-square btn-info m-2"><i class="fa fa-pen"></i></button>
          </a>
          <a href="/persona/delete/{{ persona.id }}">
            <button type="button" class="btn btn-square btn-danger m-2"><i class="fa fa-trash"></i></button>
          </a>
        </td>
      </tr>
     {% endfor %}
  </tbody>
</table>
{% endblock %}