{% extends 'blank.html' %}
{% block content %}

<div class="pagetitle">
    <h1>Editar Perfil</h1>
</div>
<section class="seccion">
    <div class="row">
        <div class="col-lg-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="card-body">
                  <h5 class="card-title">Editar Perfil</h5>
                  
                <form id="perfilForm" class="row g-3 needs-validation" method="POST" action="/perfil/update" novalidate>
                    <input type="hidden" name="id" value="{{ perfil.id }}"/>
                    
                    <div class="col-md-6">
                        <label for="nickname" class="form-label">Nick Name</label>
                        <input type="text" id="nickname" class="form-control" name="nickname" required value="{{ perfil.nickname }}">
                        <div class="invalid-feedback">Por favor, ingresa un nickname válido.</div>
                    </div>

                    <div class="col-md-6">
                        <label for="imagen" class="form-label">Imagen</label>
                        <input type="text" id="imagen" class="form-control" name="imagen" required value="{{ perfil.imagen }}">
                        <div class="invalid-feedback">Por favor, ingresa una URL de imagen válida.</div>
                    </div>

                    <div class="col-md-6">
                        <label for="objetivoCliente" class="form-label">Objetivo del Cliente</label>
                        <input type="text" id="objetivoCliente" class="form-control" name="objetivoCliente" required value="{{ perfil.objetivoCliente }}">
                        <div class="invalid-feedback">Por favor, ingresa un objetivo válido.</div>
                    </div>

                    <div class="col-md-6">
                        <label for="fechaCreacion" class="form-label">Fecha de Creación</label>
                        <input type="date" id="fechaCreacion" class="form-control" name="fechaCreacion" required value="{{ perfil.fechaCreacion }}">
                        <div class="invalid-feedback">Por favor, ingresa una fecha válida.</div>
                    </div>

                    <div class="col-6">
                      <button class="btn btn-success rounded-pill" type="submit">Guardar</button>
                    </div>

                    <div class="col-6">
                      <a href="/perfil" class="btn btn-danger rounded-pill">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
  (function () {
      'use strict';
      const form = document.getElementById('perfilForm');
      form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
          }
          form.classList.add('was-validated');
      }, false);
  })();
</script>

{% endblock %}